
@{
    ViewBag.Title = "New";
}

<h2>New Message</h2>

<div>
    <form id="createForm">
        <label>Status</label>
        <input type="text" name="Status" class="form-control" />
        <br />

        <label>Message</label>
        <input type="text" name="Message" class="form-control" />
        <br />

        <label>Extra Column</label>
        <input type="text" name="ExtraColumn" class="form-control">
        <br />

        <div class="form-group">
            <button id="saveBtn" class="btn btn-success">Save</button>
        </div>
    </form>
</div>

<script>
    $("#saveBtn").click(function () {
        $.ajax({
            url: '/Notification/Create',
            type: 'Post',
            data: $("#createForm").serialize()
        })
    .done(function (response) {
        $("#divNotification").html(response);
    })
    });
</script>