
@{
    ViewBag.Title = "Messages";
}

<h2>Messages</h2>


<button id="createMessage">New Message</button>
<div class="notification-icon" style="margin-top:10px">
    <span class="glyphicon glyphicon-envelope " style="font-size:25px"></span>
    <span class="badge" id="notifiCount"></span>
</div>

<div id="divNotification">

</div>


<div id="actionContainer">

</div>

<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalr/Hubs"></script>

<script>
    $(document).ready(function () {
        debugger;
        var hub = $.connection.notificationHub;

        //declare a function on the hub , so the server can invoke it
        hub.client.displayStatus = function () {
            debugger;
            getData();
        };

        //start the connection
        $.connection.hub.start();
        getData();

        function getData() {
            var divNotification = $("#divNotification");

            $.ajax({
                url: "/Notification/GetNotification",
                type: 'Get',
                dataType: 'json',
                success: function (data) {
                    data = $.parseJSON(data);
                    if (data.length > 0) {
                        divNotification.empty();
                        
                        //set count
                        $("#notifiCount").text(data.length);

                        //make notification html
                        for (var i = 0; i < data.length; i++) {
                            var notification = '<div class="alert alert-danger alert-dismissable">' +
                                '<button data-id=' + data[i].Id + ' class="editBtn btn btn-info pull-right">Edit</button>' +
                                '<button data-id=' + data[i].Id + ' class="deleteBtn btn btn-danger pull-right">Delete</button>' +
                                data[i].Message + 
                                '</div>'
                  
                            divNotification.append(notification);
                        }
                    }
                }
            })
        };
      
    });

    $("#createMessage").click(function () {
        $.ajax({
            url: '/Notification/Create',
            type: 'Get'
        })
        .done(function (response) {
            $("#actionContainer").html(response);
        })
    })

    //usiing on important becuz this button will created in future.
    $("#divNotification").on('click', '.editBtn', function () {
        debugger;
        var id = $(this).attr("data-id");
        $.ajax({
            url: '/Notification/Edit',
            type: 'Get',
            data: {
                id: id,
            }
        })
        .done(function (response) {
            $("#actionContainer").html(response);
        })
    })

    $("#divNotification").on('click', '.deleteBtn', function () {
        debugger;
        var confirmation = confirm("Are you sure?");

        if (confirmation) {
            var id = $(this).attr("data-id");
            $.ajax({
                url: '/Notification/Delete',
                type: 'Post',
                data: {
                    id: id,
                }
            })
            .done(function (response) {
                $("#divNotification").html(response);
            })
        }
    })
</script>